* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    width: 100%;  
}

main {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    min-width: 320px;
}

.navbar a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-size: 1.4rem;
    margin: 1rem;
}

.main-googleinput {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    min-width: 320px;
}

.main-googleinput img {
    height: 100px;
}

.main-googleinput input {
    height: 35px;
    width: 95%;
    max-width: 600px;
    border: 1px solid rgb(240, 236, 236);
    border-radius: 3rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    padding-left: 30px;
    background-image: url('./outline_search_black_24dp.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 15px;
    outline: none;
}

.main-buttons {
    display: flex;
    justify-content: center;
}

.main-buttons button {
    height: 35px;
    width: 130px;
    margin: 0 5px;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    color: rgb(70, 70, 70);
}
.main-googleinput input:hover {
    box-shadow: 0px 1px 8px 1px rgb(216, 216, 216);
    border: none;
}
.main-buttons button:hover {
    cursor: pointer;
    border: 1px solid rgb(216, 216, 216);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    background-color: rgb(240, 240, 240);
    height: 5rem;
    width: 100%;
    padding: 0 2rem;
    border-top: solid rgb(224, 224, 224) 0.2rem;
    position: absolute;
    bottom: 0;
    min-width: 320px;
}

.footer-sectionleft a {
    display: none;
    text-decoration: none;
    color: rgb(116, 116, 116);
    margin: 0 2rem;
}

.footer-sectionright a {
    display: none;
    text-decoration: none;
    color: rgb(116, 116, 116);
    margin: 0 2rem;
}

.navbar .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3rem;
    height: 3rem;
}

.navbar img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}

@media (min-width: 700px) {
    .main-googleinput img {
        height: 150px;
    }
    .main-googleinput {
        margin-top: 80px;
    }
    .main-googleinput input {
        height: 50px;
        padding-left: 40px;
    }
    .footer-sectionleft a {
        display: inline-block;
        text-decoration: none;
        color: rgb(116, 116, 116);
        margin: 0 2rem;
    }
    .footer-sectionright a {
        display: inline-block;
        text-decoration: none;
        color: rgb(116, 116, 116);
        margin: 0 2rem;
    }
}

/*  1. text align: posiciona todos sus elementos como se indique
    2. al momento de meter íconos en un input, estos se pueden meter dentro de un div junto con el input para que los links e
    imagenes o iconos entren dentro del input